#banner {
    max-width: 1100px;
    max-height: 250px;
    background-color: #470034;
    background-image: url(images/snow-background.jpg);
    background-blend-mode: overlay;
    display: flex;
    padding-top: 100px;
    padding-left: 30px;
    margin: auto;
    gap: 200px;
    
    h1, h2 {
        color: white;
    }
}

/* .falling1 {
    position: absolute;
    left: 20%;
    transform: translateX(-50%);
    animation: fall 5s linear infinite;
}

.falling2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: fall 5s linear infinite;
}

.falling3 {
    position: absolute;
    left: 90%;
    transform: translateX(-50%);
    animation: fall 5s linear infinite;
}

.falling4 {
    position: absolute;
    left: 10%;
    transform: translateX(-50%);
    animation: fall 5s linear infinite;
}

.falling5 {
    position: absolute;
    left: 35%;
    transform: translateX(-50%);
    animation: fall 5s linear infinite;
}

.falling6 {
    position: absolute;
    left: 70%;
    transform: translateX(-50%);
    animation: fall 5s linear infinite;
} */

  .falling {
    position: absolute;
    top: -100px;
    width: 70px;
    animation: fall linear infinite;
  }
  
  .falling:nth-child(1) {
    left: 20%;
    animation-duration: 3s;
  }
  
  .falling:nth-child(2) {
    left: 50%;
    animation-duration: 3s;
  }
  
  .falling:nth-child(3) {
    left: 80%;
    animation-duration: 4s;
  }

  .falling:nth-child(4) {
    left: 10%;
    animation-duration: 4s;
  }
  
  .falling:nth-child(5) {
    left: 35%;
    animation-duration: 5s;
  }
  
  .falling:nth-child(6) {
    left: 70%;
    animation-duration: 3s;
  }
  
  @keyframes fall {
    from {
      transform: translateY(-100px);
    }
    to {
      transform: translateY(100vh);
    }
  }

h1 {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 700;
    font-style: normal; 
}

h2, li, p, a {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    color: white;
}

main {
    background: #fcf2ff;
    background: linear-gradient(180deg, rgba(252, 242, 255, 1) 0%, rgba(190, 85, 185, 1) 100%);
    max-width: 1100px;
    margin: auto;
}

#minisnowflake {
    display: flex;
    gap: 5px;

    img {
        padding: 22px;
    }
    
    img:hover {
        transform: rotate(360deg);
        transition: all 5s ease-out;
    }
}


.research {
    border: 5px solid #470034;
    border-radius: 20px;
    margin: 20px;
    padding: 30px;
    width: 450px;
}

.madlib {
    border: 5px solid #470034;
    border-radius: 20px;
    margin: 20px;
    padding: 30px;
    width: 450px;
}

.everypicture {
    border: 5px solid #470034;
    border-radius: 20px;
    margin: 20px;
    padding: 30px;
    width: 450px;
}

.gameon {
    border: 5px solid #470034;
    border-radius: 20px;
    margin: 20px;
    padding: 30px;
    width: 450px;
}

#col1 {
    display: flex;
    flex: 1;
    justify-content: center;
}

#col2 {
    display: flex;
    flex: 1;
    justify-content: center;
}

ul {
   list-style-type: none; 
}

li a {
    text-decoration: none;
    color: #470034;
    margin: 5px;
}

footer {
    background-color: #470034;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 60px;
    padding: 10px;
    max-width: 1100px;
    margin: auto;
    a {
        color: white;
    }
}