#banner {
    width: 1100px;
    height: 250px;
    background-color: #470034;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    
    h1, h2 {
        color: white;
    }
}

main {
    background: #fcf2ff;
    background: linear-gradient(180deg, rgba(252, 242, 255, 1) 0%, rgba(190, 85, 185, 1) 100%);
    margin: auto;
}

#col1 {
    display: flex;
    flex-direction: column;
}

#col2 {
    display: flex;
    flex-direction: column;
}

li a {
    list-style-type: none;
}

footer {
    background-color: #470034;
}