body {
    max-width: 1500px;
    background: url(images/water.jpg);
}

body {
   font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 40px;
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
}

#rules {
    margin-left: 20%;
    margin-right: 20%;
    line-height: 2em;
    background-color: rgba(255, 255, 255, 0.535);
    border-radius: 10px;
    padding: 25px;
}

#ship {
    position: absolute;
    animation: slide 2s linear infinite alternate;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(300px);
  }
}

#game img {
    width: 150px;
    margin: 10px;
}

#gamecontrol {
    margin-left: 20%;
}

#actions {
    margin-left: 20%;
}

#score {
    margin-left: 20%;
}

#game {
    margin-left: 20%;
}

#startgame {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    font-size: 25px;
    background-color: rgb(39, 210, 225);
    font-family: "Joti One", serif;
  font-weight: 400;
  font-style: normal;
}

#roll {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    font-size: 25px;
    background-color: rgb(39, 210, 225);
    font-family: "Joti One", serif;
  font-weight: 400;
  font-style: normal;
}

#quit {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    font-size: 15px;
    background-color: rgb(254, 126, 173);
    font-family: "Joti One", serif;
  font-weight: 400;
  font-style: normal;
}

#rollagain {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    font-size: 25px;
    background-color: rgb(39, 210, 225);
    font-family: "Joti One", serif;
  font-weight: 400;
  font-style: normal;
}

#pass {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    font-size: 25px;
    background-color: rgb(39, 210, 225);
    font-family: "Joti One", serif;
  font-weight: 400;
  font-style: normal;
}

#audio {
    width: 75px;
    height: 75px;
}

#audiocontrol {
    position: absolute;
    top: 20px;
    right: 20px;
}

main {
    display: flex;
}

section {
    flex: 1;
}

section:last-of-type {
    display: grid;
    place-content: center;
}

#left {
    margin-left: 155px;
}

footer {
    margin-left: 50%;
    margin-top: 330px;
    margin-bottom: 15px;
}

footer a {
    color: black;
}