#banner {
    max-width: 1100px;
    max-height: 250px;
    background-color: #470034;
    background-image: url(images/snow-background.jpg);
    background-blend-mode: overlay;
    display: flex;
    padding-top: 100px;
    padding-left: 30px;
    margin: auto;
}

h1, h2 {
    color: white;
}

  .falling {
    position: absolute;
    top: -100px;
    width: 70px;
    animation: fall linear infinite;
  }
  
  .falling:nth-child(1) {
    left: 20%;
    animation-duration: 3s;
  }
  
  .falling:nth-child(2) {
    left: 50%;
    animation-duration: 3s;
  }
  
  .falling:nth-child(3) {
    left: 80%;
    animation-duration: 4s;
  }

  .falling:nth-child(4) {
    left: 10%;
    animation-duration: 4s;
  }
  
  .falling:nth-child(5) {
    left: 35%;
    animation-duration: 5s;
  }
  
  .falling:nth-child(6) {
    left: 70%;
    animation-duration: 3s;
  }
  
  @keyframes fall {
    from {
      transform: translateY(-100px);
    }
    to {
      transform: translateY(100vh);
    }
  }

h1 {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 700;
    font-style: normal; 
}

h2, h3, li, p, a {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    color: white;
}

main {
    background: #fcf2ff;
    background: linear-gradient(180deg, rgba(252, 242, 255, 1) 0%, rgb(243, 169, 239) 100%);
    max-width: 1100px;
    margin: auto;
}

#minisnowflake1 {
    display: flex;
    gap: 20px;
}

#minisnowflake1 h2, h3 {
    color: #470034;
}

#minisnowflake1 h3 {
    margin-top: 22px;
}

#minisnowflake1 img {
    padding: 22px;
}

#minisnowflake1 img:hover {
    transform: rotate(360deg);
    transition: all 5s ease-out;
}

#minisnowflake2 {
    display: flex;
    gap: 20px;
}

#minisnowflake2 h2, h3 {
    color: #470034;
}

#minisnowflake2 h3 {
    margin-top: 22px;
}

#minisnowflake2 img {
    padding: 22px;
}

#minisnowflake2 img:hover {
    transform: rotate(360deg);
    transition: all 5s ease-out;
}

#minisnowflake3 {
    display: flex;
    gap: 20px;
}

#minisnowflake3 h2, h3 {
    color: #470034;
}

#minisnowflake3 h3 {
    margin-top: 22px;
}

#minisnowflake3 img {
    padding: 22px;
}

#minisnowflake3 img:hover {
    transform: rotate(360deg);
    transition: all 5s ease-out;
}

#minisnowflake4 {
    display: flex;
    gap: 20px;
}

#minisnowflake4 h2, h3 {
    color: #470034;
}

#minisnowflake4 h3 {
    margin-top: 22px;
}

#minisnowflake4 img {
    padding: 22px;
}

#minisnowflake4 img:hover {
    transform: rotate(360deg);
    transition: all 5s ease-out;
}

article {
    border: 5px solid #470034;
    border-radius: 20px;
    margin: 20px;
    padding: 30px;
    width: 500px;
    margin-left: 250px;
    margin-bottom: 30px;
    line-height: 20px;
    text-indent: 20px;
}

article p {
    color: #470034;
}

footer {
    background-color: #470034;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 60px;
    padding: 10px;
    max-width: 1100px;
    margin: auto; 
}

footer a {
    color: white;
}