body {
    max-width: 1500px;
    background: url(images/water.jpg);
}

body {
   font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 40px;
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
}

#rules {
    margin-left: 20%;
    margin-right: 20%;
    line-height: 2em;
    background-color: rgba(255, 255, 255, 0.535);
    border-radius: 10px;
    padding: 25px;
}

#ship {
    margin-left: 60%;
    margin-top: 20px;
    position: absolute;
    animation: slide 2s linear infinite alternate;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(300px);
  }
}

#game img {
    width: 150px;
    margin: 10px;
}

#gamecontrol {
    margin-left: 20%;
}

#actions {
    margin-left: 20%;
}

#score {
    margin-left: 20%;
}

#game {
    margin-left: 20%;
}

#startgame {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    font-size: 25px;
    background-color: rgb(39, 210, 225);
}

#roll {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    font-size: 25px;
    background-color: rgb(39, 210, 225);
}

#quit {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    font-size: 15px;
    background-color: rgb(254, 126, 173);
}

#rollagain {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    font-size: 25px;
    background-color: rgb(39, 210, 225);
}

#pass {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    font-size: 25px;
    background-color: rgb(39, 210, 225);
}
